.app {
  text-align: center;
}

.search-bar {
  margin-bottom: 20px;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  width: 200px;
  text-align: left;
}

#pagination {
  margin-top: 20px;
}

#previous,
#next {
  margin: 0 5px;
}
